@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
section {
  min-height: 100vh;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
.left {
  width: 60%;
  height: 350px;
  background: url(img/image.jpg)
    no-repeat center / cover;
  border-radius: 8px;
}
.left1 {
  width: 60%;
  height: 350px;
  background: url(img/image2.jpg)
    no-repeat center / cover;
  border-radius: 8px;
}
.right {
  width: 70%;
  min-height: 100px;
  background-color: #ceccef;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  /* border: 4px solid rgb(67, 170, 235); */
  border-radius: 8px;
  color: white;
  margin-left: -190px;
}
.right:hover, .right1:hover {
  border: 4px solid rgb(67, 170, 235);
}
.right1{
    width: 65%;
    min-height: 100px;
    background-color: #ceccef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    /* border:4px solid rgb(67, 170, 235); */
    border-radius: 8px;
    color: white;
    margin-left: -993px;
}
.right h1 {
  font-size: 26px;
  font-weight: bold;
  color:rgb(43, 43, 92);
}
.right p {
  margin: 20px 0;
  line-height: 20px;
  color:black;
}
.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(43, 43, 92);
  color: white;
  padding: 10px 20px;
  display: inline-block;
  letter-spacing: 1px;
}
.right1 h1 {
  font-size: 26px;
  font-weight: bold;
  color:rgb(43, 43, 92);
}
.right1 p {
  margin: 20px 0;
  line-height: 20px;
  color:black;
}
.right1 a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(43, 43, 92);
  color: white;
  padding: 10px 20px;
  display: inline-block;
  letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 2px;
  }
  .left {
    width: 100%;
    height: 300px;
  }
  .right {
    width: 100%;
    margin: 0;
    margin-top: -100px;
  }
  .left1 {
    width: 100%;
    height: 300px;
  }
  .right1 {
    width: 100%;
    margin: 0;
    margin-top: -100px;
  }
}
/* @media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 300px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
} */